.controls
  %a.show-all(href="#") Show All
  %a.show-universal(href="#") Show Universal
  %a.show-series1(href="#") Show Series 1
  %a.show-series2(href="#") Show Series 2

= render :partial => "flash", :locals => {:flash => flash}

.welcome
  %h1 Characters
  %table
    %thead
      %tr
        %th Name
        %th Series 1
        %th Series 2
    %tbody
      - @characters.each do |character|
        %tr
          %td{:class => "icon-#{character.element.name}"}= character.name
          %td= "✓" if character.series_1
          %td= "✓" if character.series_2
