---
title: Welcome to Middleman
---

.controls
  %a.show-all(href="#") Show All
  %a.show-universal(href="#") Show Universal
  %a.show-series1(href="#") Show Series 1
  %a.show-series2(href="#") Show Series 2

.welcome
  %h1 Characters
  %table
    %thead
      %tr
        %th Name
        %th Series 1
        %th Series 2
    %tbody
      %tr
        %td.icon-earth Bash
        %td ✓
        %td ✓
      %tr
        %td.icon-earth Bash (blue)
        %td ✓
        %td
      %tr
        %td.icon-earth Bash (legendary)
        %td ✓
        %td
      %tr
        %td.icon-water Chill
        %td
        %td ✓
      %tr
        %td.icon-water Chill (lightcore)
        %td
        %td ✓
      %tr
        %td.icon-water Chill (legendary)
        %td
        %td ✓
      %tr

        %td.icon-tech Boomer
        %td ✓
        %td
      %tr
        %td.icon-life Camo
        %td ✓
        %td
      %tr
        %td.icon-undead Chop Chop
        %td ✓
        %td ✓
      %tr
        %td.icon-undead Chop Chop (gold)
        %td ✓
        %td
      %tr
        %td.icon-undead Chop Chop (legendary)
        %td ✓
        %td
      %tr
        %td.icon-undead Cynder
        %td ✓
        %td ✓
      %tr
        %td.icon-undead Cynder (glow in the dark)
        %td
        %td ✓
      %tr
        %td.icon-earth Dino-Rang
        %td ✓
        %td
      %tr
        %td.icon-magic Double Trouble
        %td ✓
        %td ✓
      %tr
        %td.icon-magic Double Trouble (royal)
        %td ✓
        %td
      %tr
        %td.icon-tech Drill Sergeant
        %td ✓
        %td ✓
      %tr
        %td.icon-tech Drill Sergeant (gold)
        %td ✓
        %td
      %tr
        %td.icon-tech Drill Sergeant (red)
        %td ✓
        %td
      %tr
        %td.icon-tech Drobot
        %td ✓
        %td ✓
      %tr
        %td.icon-tech Drobot (lightcore)
        %td
        %td ✓
      %tr
        %td.icon-fire Eruptor
        %td ✓
        %td ✓
      %tr
        %td.icon-fire Eruptor (lightcore)
        %td
        %td ✓
      %tr
        %td.icon-fire Flameslinger
        %td ✓
        %td ✓
      %tr
        %td.icon-fire Flameslinger (fire)
        %td ✓
        %td
      %tr
        %td.icon-fire Flameslinger (gold)
        %td
        %td ✓
      %tr
        %td.icon-earth Flashwing
        %td
        %td ✓
      %tr
        %td.icon-earth Flashwing (jade)
        %td
        %td ✓
      %tr
        %td.icon-undead Fright Rider
        %td
        %td ✓
      %tr
        %td.icon-undead Fright Rider (glow in the dark)
        %td
        %td ✓
      %tr
        %td.icon-undead Ghost Roaster
        %td ✓
        %td
      %tr
        %td.icon-water Gill Grunt
        %td ✓
        %td ✓
      %tr
        %td.icon-water Gill Grunt (green)
        %td ✓
        %td
      %tr
        %td.icon-undead Hex
        %td ✓
        %td ✓
      %tr
        %td.icon-undead Hex (lightcore)
        %td
        %td ✓
      %tr
        %td.icon-fire Hot Dog
        %td
        %td ✓
      %tr
        %td.icon-fire Hot Dog (molten)
        %td
        %td ✓
      %tr
        %td.icon-fire Ignitor
        %td ✓
        %td ✓
      %tr
        %td.icon-fire Ignitor (legendary)
        %td
        %td ✓
      %tr
        %td.icon-wind Jet-Vac
        %td
        %td ✓
      %tr
        %td.icon-wind Jet-Vac (lightcore)
        %td
        %td ✓
      %tr
        %td.icon-wind Jet-Vac (blizzard)
        %td
        %td ✓
      %tr
        %td.icon-wind Jet-Vac (legendary)
        %td
        %td ✓
      %tr
        %td.icon-wind Lightning Rod
        %td ✓
        %td ✓
      %tr
        %td.icon-magic Pop Fizz
        %td
        %td ✓
      %tr
        %td.icon-magic Pop Fizz (lightcore)
        %td
        %td ✓
      %tr
        %td.icon-magic Pop Fizz (punch)
        %td
        %td ✓
      %tr
        %td.icon-earth Prism Break
        %td ✓
        %td ✓
      %tr
        %td.icon-earth Prism Break (lightcore)
        %td
        %td ✓
      %tr
        %td.icon-earth Prism Break (2012 Employee)
        %td
        %td ✓
      %tr
        %td.icon-life Shroomboom
        %td
        %td ✓
      %tr
        %td.icon-life Shroomboom (lightcore)
        %td
        %td ✓
      %tr
        %td.icon-water Slam Bam
        %td ✓
        %td ✓
      %tr
        %td.icon-water Slam Bam (legendary)
        %td
        %td ✓
      %tr
        %td.icon-wind Sonic Boom
        %td ✓
        %td ✓
      %tr
        %td.icon-wind Sonic Boom (glow in the dark)
        %td
        %td ✓
      %tr
        %td.icon-tech Sprocket
        %td
        %td ✓
      %tr
        %td.icon-tech Sprocket (sparkle)
        %td
        %td ✓
      %tr
        %td.icon-magic Spyro
        %td ✓
        %td ✓
      %tr
        %td.icon-magic Spyro (chrome 2012 E3)
        %td ✓
        %td
      %tr
        %td.icon-magic Spyro (dark)
        %td ✓
        %td
      %tr
        %td.icon-magic Spyro (legendary)
        %td ✓
        %td
      %tr
        %td.icon-life Stealth Elf
        %td ✓
        %td ✓
      %tr
        %td.icon-life Stealth Elf (legendary)
        %td
        %td ✓
      %tr
        %td.icon-life Stump Smash
        %td ✓
        %td ✓
      %tr
        %td.icon-life Stump Smash (flocked)
        %td ✓
        %td
      %tr
        %td.icon-life Stump Smash (white flocked)
        %td
        %td ✓
      %tr
        %td.icon-fire Sunburn
        %td ✓
        %td
      %tr
        %td.icon-earth Terrafin
        %td ✓
        %td ✓
      %tr
        %td.icon-tech Trigger Happy
        %td ✓
        %td ✓
      %tr
        %td.icon-tech Trigger Happy (legendary)
        %td ✓
        %td
      %tr
        %td.icon-magic Voodood
        %td ✓
        %td
      %tr
        %td.icon-wind Warnado
        %td ✓
        %td
      %tr
        %td.icon-wind Warnado (glow in the dark)
        %td ✓
        %td
      %tr
        %td.icon-water Wham Shell
        %td ✓
        %td
      %tr
        %td.icon-wind Whirlwind
        %td ✓
        %td ✓
      %tr
        %td.icon-wind Whirlwind (polar)
        %td
        %td ✓
      %tr
        %td.icon-wind Whirlwind (stone)
        %td
        %td ✓
      %tr
        %td.icon-magic Wrecking Ball
        %td ✓
        %td ✓
      %tr
        %td.icon-magic Wrecking Ball (glow in the dark)
        %td ✓
        %td
      %tr
        %td.icon-water Zap
        %td ✓
        %td ✓
      %tr
        %td.icon-water Zap (glow in the dark)
        %td ✓
        %td
      %tr
        %td.icon-life Zook
        %td ✓
        %td ✓
      %tr
        %td.icon-life Zook (stone)
        %td
        %td ✓
